<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.mapper.DataMapper">
    
    <insert id="insertTable" parameterType="com.cs.dao.model.DataTablePO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        	DATATABLE(uid,info,times,names)
     	VALUES(#{uid},#{info},#{times},#{names})
    </insert>
    <update id="updateTable" parameterType="com.cs.dao.model.DataTablePO">
        UPDATE DATATABLE
        <set>
            <if test="info!=null and info!=''">info=#{info},</if>
            <if test="empty!=null and empty!='-1'">empty=#{empty},</if>
            <if test="times!=null and times!=''">times=#{times},</if>
            <if test="names!=null and names!=''">names=#{names},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="delTable" parameterType="java.util.List">
        DELETE FROM
        	DATATABLE
        WHERE id in
        <foreach collection="list" item = "item" index="index" open="(" separator="," close=")">
        	#{item}
        </foreach>
    </delete>
    <select id="getTables" parameterType="HashMap" resultType="com.cs.dao.model.DataTablePO">
        SELECT * 
        	FROM DATATABLE
        <where>
            <if test="id!=null and id!='-1'">id = #{id}</if>
			<if test="uid!=null and uid!='-1'">and uid = #{uid}</if>
			<if test="info!=null and info!=''">and info like '%${info}%'</if>
        </where>
        LIMIT #{offset},#{limit}
    </select>
    <update id="excuteSql" parameterType="String">
    	${sql}
    </update>
    <select id="searchData" parameterType="HashMap" resultType="HashMap">
    	SELECT *
    		FROM ${table}
    	<where>
           lat &gt;= #{minlat} and lat &lt;= #{maxlat} and lng &gt;= #{minlng} and lng &lt;= #{maxlng}
        </where>
        ORDER BY lng,lat
    </select>
    <select id="getData" parameterType="HashMap" resultType="HashMap">
    	SELECT *
    		FROM ${table}
    	<where>
           lat = #{lat} and lng = #{lng}
        </where>
    </select>
 </mapper>