<form action="uploadtest" method="post" enctype="multipart/form-data">  
  <input name="file0" id="file0" type="file" /> 
  <input name="file1" id="file1" type="file" /> 
  <input type="submit" value="Submit" />
</form>  